:root {
    --colNum: 16;
}

* {    
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #03001C;
}

#heading, #instructions {
    color: #B6EADA;
    text-align: start;
    margin: 1rem 2rem;
}

#instructions {
    font-size: 24px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.controls {
    background-color: transparent;
    border: 1px solid #B6EADA;
    color: #B6EADA;
    font-size: 24px;
    padding: 8px;
}

#content {
    display: flex;
    justify-content: flex-start;        
    align-items: center;
    gap: 10%;
    margin: 0 2rem;
    flex-wrap: wrap;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(var(--colNum), auto);
    background-color: #eeeeee;
    width: 80vh;
    min-height: 80vh;
}

#sizeInput {
    width: 100%;
}

#sizeValue {
    text-align: center;
}


#colorSelectButton {
    display: flex;
    justify-content: space-evenly;
}



